extends ./layout/index

block contenido
  main.container.mt-5 
      .row 
        .col-md-5 
            img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid" )
        .col-md-7 
           h1= pagina 
           blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet diam dolor, vehicula ornare ligula fringilla eu. Etiam mauris massa, cursus sit amet lobortis non, euismod at sem. Curabitur quis nisi venenatis, tempus nulla id, consectetur quam. Cras maximus eleifend lorem, non auctor nisl vulputate et. Integer egestas eget tellus eget dignissim.

           p varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis nec turpis finibus, consectetur nibh eget, aliquam sapien. Proin mauris lacus, posuere sed tincidunt nec, semper eget augue. Nam ultrices consectetur odio at faucibus. Duis dapibus, arcu in auctor porta, dolor enim vestibulum nisl, sit amet porta felis dolor eu libero. Suspendisse at laoreet odio. 

           p nulla leo, condimentum quis tristique et, vulputate in sem. Aenean semper ligula et elit ultricies, eu placerat diam condimentum. Donec finibus risus vel turpis semper, vehicula auctor dolor ullamcorper. Ut aliquam, risus a venenatis interdum, elit nisl pellentesque justo, congue vulputate nulla nisi eu eros. Vestibulum lacinia nec justo vitae finibus. Proin imperdiet neque et quam fringilla, quis tempus est aliquet.

  .listado-iconos
    .container.mt-5.py-5.text-center 
      .row 
          .col-md-4 
            img(src="img/icono_seguridad.svg", alt="iconos seguridad", class="img-fluid mb-4")
            h2.mb-4 Seguridad 
            p loren nulla leo, condimentum quis tristique et, vulputate in sem. Aenean semper ligula et elit ultricies, eu placerat diam condimentum. Donec finibus risus vel turpis semper, vehicula auctor dolor ullamcorper. 

          .col-md-4 
            img(src="img/icono_destinos.svg", alt="iconos destino", class="img-fluid mb-4")
            h2.mb-4 Mejores detinos 
            p loren nulla leo, condimentum quis tristique et, vulputate in sem. Aenean semper ligula et elit ultricies, eu placerat diam condimentum. Donec finibus risus vel turpis semper, vehicula auctor dolor ullamcorper. 

          .col-md-4 
            img(src="img/icono_precios.svg", alt="iconos precios", class="img-fluid mb-4")
            h2.mb-4 Mejores Precios 
            p loren nulla leo, condimentum quis tristique et, vulputate in sem. Aenean semper ligula et elit ultricies, eu placerat diam condimentum. Donec finibus risus vel turpis semper, vehicula auctor dolor ullamcorper. 